/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* 회원가입 폼 스타일 */
.register-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 380px;
    margin: 30px 0;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* 입력 그룹 */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px 0;
    text-indent: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* 입력 필드 + 버튼 한 줄 정렬 */
.input-row {
    gap: 10px;
}
.input-row-id {
    display: flex;
}
.input-row-btn{
    display: flex;
}
.input-row-btn input ,.input-row-id input{
    flex: 1;
}

.input-row button, .input-row-id button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.input-row button:hover, .input-row-id button:hover  {
    background-color: #0056b3;
}
.address , .input-row-id input{
    margin-right: 10px;
}
.addressDefault {
    margin: 10px 0;
}
/* 버튼 스타일 */
.button-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.button-group button:hover {
    background-color: #218838;
}
.member-submit {
    pointer-events: none;
    opacity: 0.5;
}
/* 오류 메시지 */
small {
    color: red;
    font-size: 12px;
}
