<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link rel="stylesheet" th:href="@{/css/search.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="content">
    <div class="main-container">
        <div class="search-container">
            <div class="search-info">
                <a href="/">
                    <div class="nav-item">
                        <img th:src="@{'/local-images/home-icon.png'}" alt="">
                        <span>홈</span>
                    </div>
                </a>
                <a href="/search">
                    <div class="nav-item">
                        <img th:src="@{'/local-images/search-message.png'}" alt="">
                        <span>탐색하기</span>
                    </div>
                </a>
                <a href="">
                    <div class="nav-item">
                        <img th:src="@{'/local-images/alarm-clock.png'}" alt="">
                        <span>알림</span>
                    </div>
                </a>
                <!-- 로그인한 경우 -->
                <div th:if="${member != null}">
                    <a th:href="@{'/message/' + ${member.idx}}">
                        <div class="nav-item">
                            <img th:src="@{'/local-images/email.png'}" alt="">
                            <span>쪽지</span>
                        </div>
                    </a>
                    <a th:href="@{'/profile/' + ${member.idx}}">
                        <div class="nav-item">
                            <img th:src="@{'/local-images/profile-user.png'}" alt="">
                            <span>프로필</span>
                        </div>
                    </a>
                </div>

                <!-- 로그인하지 않은 경우 -->
                <div th:if="${member == null}">
                    <div class="nav-item" onclick="alert('로그인이 필요합니다');">
                        <img th:src="@{'/local-images/email.png'}" alt="">
                        <span>쪽지</span>
                    </div>
                    <div class="nav-item" onclick="alert('로그인이 필요합니다');">
                        <img th:src="@{'/local-images/profile-user.png'}" alt="">
                        <span>프로필</span>
                    </div>
                </div>
                <a href="/boardWrite">
                    <div class="nav-item">
                        <img th:src="@{'/local-images/write.png'}" alt="">
                        <span>작성하기</span>
                    </div>
                </a>

                <div class="bottom-profile">
                    <div class="bottom-profile-inner" sec:authorize="isAuthenticated()">
                        <a th:href="@{${'/profile/' + member.idx}}">
                            <img th:src="@{${'/profile-images/' + member.userImage}}" alt="프로필">
                        </a>
                        <div>
                            <div class="bottom-name" th:text="${member.userName}"></div>
                            <div class="bottom-id" th:text="${'@' +member.userId}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>