<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/mypage.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="content">
    <div class="mypage-container">
        <div class="mypage-title">마이페이지</div>

        <div class="mypage-item">
            <label class="mypage-label">회원 번호 : <span class="post-count" th:text="${member.idx}"></span></label>
        </div>

        <div class="mypage-item">
            <label class="mypage-label">사용자아이디</label>
            <div class="mypage-value" th:text="${member.userName}"></div>
        </div>

        <div class="mypage-item">
            <label class="mypage-label">userid</label>
            <div class="mypage-value" th:text="${member.userId}"></div>
        </div>

        <div class="mypage-item">
            <label class="mypage-label">휴대폰 번호</label>
            <div class="mypage-value" th:text="${member.userPhoneNumber}"></div>
        </div>

        <div class="mypage-item">
            <label class="mypage-label">이메일</label>
            <div class="mypage-value" th:text="${member.userEmail}"></div>
        </div>

        <div class="mypage-item">
            <label class="mypage-label">계정 생성</label>
            <div class="mypage-value" th:text="${#temporals.format(member.userAt, 'yyyy년 MM월 dd일 HH시 mm분 ss시 에 생성')}"></div>
        </div>

        <div class="mypage-item">
            <label class="mypage-label">나이</label>
            <div class="mypage-value" th:text="${member.userAge}"></div>
        </div>

        <div class="mypage-item">
            <label class="mypage-label">주소</label>
            <div class="mypage-value" th:text="${member.userAddress}"></div>
        </div>
        <form action="/delete/user" method="post" >
            <button class="delete-btn" onclick="confirmDelete()">계정 삭제</button>
        </form>
    </div>
</th:block>
</body>
</html>
<script>
    function confirmDelete() {
        if (confirm('정말로 계정을 삭제하시겠습니까?')) {
            // 여기에 삭제 처리 로직 (예: form submit or fetch)
            alert('계정이 삭제되었습니다.');
        }
    }
</script>